@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.foodzy-app__cart-item, .foodzy-app__cart-item-container{
    display: flex;
}

.foodzy-app__cart-item{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

.foodzy-app__cart-item-container{
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid #CD5C5C;
}

.foodzy-app__cart-item h3, .foodzy-app__cart-item span, .foodzy-app__cart-item h4{
    font-family: 'Poppins', sans-serif;
}

.foodzy-app__cart-item span{
    color: #CD5C5C;
}

.foodzy-app__cart-item h4{
    font-weight: 300;
    font-style: italic;
}

.foodzy-app__cart-item-container .btn{
    color: white;
    padding: 5px;
    margin: 0 5px;
    width: 50px;
    outline: none;
    border: none;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.foodzy-app__cart-item-container .count-cart-item{
    margin: 0 5px;
}

.btn-remove__cart-meal{
    background: red;
    
}

.btn-add__cart-meal{
    background-color: green;
}

.btn-remove__cart-meal:hover{
    color: black;
    background: transparent;
    border: 1px solid red;
}

.btn-add__cart-meal:hover{
    color: black;
    background: transparent;
    border: 1px solid green;
}